<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mark Brady">
    <meta name="generator" content="Eleventy">
    <meta name="fediverse:creator" content="@inkyvoxel@mastodon.social">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⬛</text></svg>"
    >
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/feed.atom">
    <style>
      body {
        font-family: monospace;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      hr {
        border-style: dashed;
      }

      header,
      main,
      footer {
        width: 90%;
        max-width: 960px;
      }

      header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      footer {
        text-align: center;
      }

      header nav li {
        float: left;
        display: block;
        text-align: center;
        padding-top: 14px;
        padding-right: 16px;
        padding-bottom: 14px;
        padding-left: 0;
      }

      code,
      pre code {
        padding: 1px 5px;
        border-radius: 5px;
      }

      pre code {
        display: block;
        overflow-x: auto;
      }

      @media (max-width: 600px) {
        body {
          font-size: 1rem;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: black;
          color: white;
        }

        a:link,
        a:visited {
          color: #b19af4;
        }

        code,
        pre code {
          background-color: #5e2ee8;
        }
      }

      @media (prefers-color-scheme: light) {
        body {
          background-color: white;
          color: black;
        }

        a:link,
        a:visited {
          color: #5e2ee8;
        }

        code,
        pre code {
          background-color: #b19af4;
        }
      }
    </style>
    <script defer src="https://umami.inkyvoxel.app/script.js" data-website-id="03e804ae-f9a1-40c5-9e40-a79c43b23c91"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/tags/software-engineering">SOFTWARE ENGINEERING</a></li>
          <li><a href="/tags/cybersecurity">CYBERSECURITY</a></li>
          <li><a href="/tags/leadership">LEADERSHIP</a></li>
          <li><a href="/tags">OTHER TOPICS</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>Find me on <a rel="me" href="https://mastodon.social/@inkyvoxel">Mastodon</a> and <a rel="me" href="https://github.com/inkyvoxel">GitHub</a>.</p>
      <p>&copy; 2024 MARK BRADY. ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
