---
layout: layout.liquid
---
<section>
  <article>
    <h1>{{ title }}</h1>
    <p>
      <time datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time>
    </p>

    {{ content }}

    <hr>

    <p>This post was tagged:</p>

    <ul>
      {% for tag in tags %}
        {% unless tag == 'post' %}
          <li>
            <a href="/tags/{{ tag }}">{{ tag | replace: '-', ' ' }}</a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>

    <hr>

    {% assign previousPost = collections.post | getPreviousCollectionItem %}
    {% assign nextPost = collections.post | getNextCollectionItem %}

    {% if previousPost or nextPost %}
      <nav>
        <p>Enjoyed reading this? Check out more of my posts below 👀</p>
        <ul>
          {% if previousPost -%}
            <li>
              Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>.
            </li>
          {% endif %}
          {% if nextPost -%}
            <li>
              Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </article>
</section>
