---
title: inkyvoxel
description: I write about software engineering, leadership, and cybersecurity.
layout: layout.liquid
pagination:
    data: collections.post
    size: 5
    alias: posts
    reverse: true
---
<section>
  <h1>{{ title }}</h1>
  <p>Hello, and welcome to my website! I write about various <a href="/tags">topics</a>, including software engineering, leadership and cybersecurity.</p>
  <p>You can subscribe to future posts using the <a href="/feed.atom">feed</a>.</p>
</section>

<section>
  <h2>Latest posts</h2>

  {% for post in posts %}
    <article>
      <h3>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <p>{{ post.data.description }}</p>
      <p>
        <time datetime="{{ page.date | isoDate }}">{{ post.date | readableDate }}</time>
      </p>
      <hr>
    </article>
  {% endfor %}

  <nav>
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">Newer posts</a>
    {% endif %}

    {% if pagination.href.previous and pagination.href.next %}
      |
    {% endif %}

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Older posts</a>
    {% endif %}
  </nav>
</section>
